<section class="flow">
  <div class="l-container">
    <div class="c-head">
      <h2 class="c-head__ttl">ご利用の流れ</h2>
    </div>
    <div class="swipe">
      <div class="flow__list c-flex c-flex--between">
        <div class="flow__item">
          <div class="flow__img"><amp-img src="/common/images/flow__img01.jpg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl"><span class="flow__num">1.</span>会員登録</h3>
            <p class="flow__txt">会員登録をしていただき、ご自身のプロフィールや希望条件を登録していただきます。</p>
          </div>
        </div>
        <div class="flow__item">
          <div class="flow__img"><amp-img src="/common/images/flow__img02.jpg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl"><span class="flow__num">2.</span>お相手を探す</h3>
            <p class="flow__txt">エリア・条件など様々な方法で検索できます。ご自身の希望とのマッチ率も表示されます。</p>
          </div>
        </div>
        <div class="flow__item">
          <div class="flow__img"><amp-img src="/common/images/flow__img03.jpg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl"><span class="flow__num">3.</span>アプローチする</h3>
            <p class="flow__txt">気になるお相手にいいねを送ります。相手からもいいねされるとメッセージが可能になります。</p>
          </div>
        </div>
        <div class="flow__item">
          <div class="flow__img"><amp-img src="/common/images/flow__img04.jpg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl"><span class="flow__num">4.</span>依頼・予約</h3>
            <p class="flow__txt">メッセージから実際のご依頼や予約などをおこないます。お互いに承認することで商談成立となります。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>