<section class="flow">
  <div class="l-container">
    <div class="c-head">
      <h2 class="c-head__ttl"><span class="c-head__ttl-lead">ご利用の流れ</span></h2>
    </div>
    <div class="swipe">
      <div class="flow__list c-flex c-flex--between">
        <div class="flow__item">
          <span class="flow__num">1</span>
          <div class="flow__img"><amp-img src="/common/images/flow__img01.svg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl">会員登録</h3>
            <p class="flow__txt">会員登録をしていただき、ご自身のプロフィールや希望条件を登録していただきます。</p>
          </div>
        </div>
        <div class="flow__item">
          <span class="flow__num">2</span>
          <div class="flow__img"><amp-img src="/common/images/flow__img02.svg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl">ログイン</h3>
            <p class="flow__txt">ログインすると、登録時に設定した条件に近い物件情報が表示されます。もちろん後から追加変更可能です。</p>
          </div>
        </div>
        <div class="flow__item">
          <span class="flow__num">3</span>
          <div class="flow__img"><amp-img src="/common/images/flow__img03.svg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl">物件を探す</h3>
            <p class="flow__txt">業界屈指のおすすめ情報からお選びいただくことが可能です。それ以外にもエージェントからの耳寄りな情報も得ることが可能です。</p>
          </div>
        </div>
        <div class="flow__item">
          <span class="flow__num">4</span>
          <div class="flow__img"><amp-img src="/common/images/flow__img04.svg" width="100" height="100" layout="responsive" alt=""></amp-img></div>
          <div class="flow__desc">
            <h3 class="flow__ttl">商談をすすめる</h3>
            <p class="flow__txt">メッセージでやり取りをして実際のご依頼や予約などを行います。お互いに承認することで商談成立となりますので、安心安全な環境です。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>