<!-- フッター開始 -->
<footer>
  <div class="foot-container">
    <div class="foot-cnt">
    <div class="foot-logo">
      <img class="foot-logo__img" src="/common/images/logo_w.svg" width="216" height="48" alt="UNDER" />
      <span class="foot-logo__txt">新たな物件との出会いがここから始まる</span>
    </div>
    <div class="foot-nav">
      <div class="foot-nav__block">
        <p class="foot-nav__ttl">投資家の方</p>
        <ul class="foot-nav__list">
          <li><a href="/about/">投資家の方へ</a></li>
          <li><a href="/register2/">投資家の会員登録</a></li>
          <li><a href="/login2/">投資家ログイン</a></li>
          <li><a href="/contact/">物件を売りたい方へ</a></li>
        </ul>
      </div>
      <div class="foot-nav__block">
        <p class="foot-nav__ttl">不動産会社の方</p>
        <ul class="foot-nav__list">
          <li><a href="/about2/">不動産会社の方へ</a></li>
          <li><a href="/register1/">不動産会社の会員登録</a></li>
          <li><a href="/login1/">不動産会社ログイン</a></li>
        </ul>
      </div>
      <div class="foot-nav__block">
        <p class="foot-nav__ttl">運営・サポート</p>
        <ul class="foot-nav__list">
          <li><a href="/terms/">ご利用規約</a></li>
          <li><a href="/policy/">プライバシーポリシー</a></li>
          <li><a href="/faq/">よくある質問</a></li>
          <li><a href="/contact/">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="foot-bottom">
      <p class="copyright">Copyright &copy; 2025 Under. All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- フッター終了 --> 
<script>
  objectFitImages();
</script> 