<div id="is-loading">
  <div id="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<!-- ヘッダー開始 -->
<header data-header="2">
  <div class="header__logo">
    <p class="header__logo-img"><a href="/"><img src="/common/images/logo.svg" width="182" height="40" alt="UNDER" /></a></p>
    <h1 class="header__logo-txt">新たな物件との出会いがここから始まる</h1>
  </div>
  <!-- ログイン後 開始 -->
  <nav class="head-nav member business">
    <ul>
      <li><a href="/m_top2/">マイページトップ</a></li>
      <li><a href="/m_match2/">マッチ物件</a></li>
      <li><a href="/m_o2/">ご提案物件</a></li>
      <li><a href="/m_iine2/">お気に入り一覧</a></li>
      <li><a href="/m_message2/">メッセージ</a>[S-MIDOKU]<span class="item__badge">[MIDOKU]</span>[E-MIDOKU]</li>
      <li><a href="/m_o2/">マイ条件</a></li>
    </ul>
    <div class="head-btn-wrap">
      <div class="head-btn head-btn--logout"><a href="/logout2/">
        <span class="head-btn__icon"><img class="foot-logo__img" src="/common/images/icon_logout.svg" alt="ログアウト" /></span>
        <span class="head-btn__txt">ログアウト</span>
      </a></div>
    </div>
  </nav>
  <!-- ログイン後 終了 -->
</header>
<!-- ヘッダー終了 -->
<div class="header-user">
  <div class="l-container">
    <div class="header-user__cnt">
      <div class="header-user__name">
        <span class="header-user__name-icon"><img src="/common/images/icon_user.svg" width="20" height="20" alt="ユーザーアイコン"></span>
        <span class="header-user__name-lead">[L-MNAME] さん</span>
      </div>
      <div class="header-user__profile">
        <a href="/m_m2/">
          <span class="header-user__profile-lead">プロフィール編集</span>
        </a>
      </div>
      <div class="header-user__status">
        <span class="header-user__status-lead">ログイン中</span>
      </div>
    </div>
  </div>
</div>