<div class="result__item">
  <div class="result__img"> <a href="/m_search2/?mode=disp&key=[D-O1-ID]"><img src="[D-M1-M1_DFIL01]" alt=""></a></div>
  <div class="result__desc">
    <div class="result__top">
      <p class="result__name"><a href="/m_search2/?mode=disp&key=[D-O1-ID]">[D-M1-M1_DVAL01]</a></p>
      [S-POINT]
      <div class="result__rate">マッチ率<span class="result__point">[POINT]%</span></div>
      [E-POINT]
      <h3 class="result__ttl"><a href="/m_search2/?mode=disp&key=[D-O1-ID]">[D-O1-O1_DVAL01]</a></h3>
      
      <!-- 平均評価 --> 
      <span class="result__eval">評価：[D-O1_EVAL_AVG]</span>
      <p class="result__txt"><a href="/m_search2/?mode=disp&key=[D-O1-ID]">[D-O1-O1_DTXT01]</a></p>
    </div>
    <div class="result__bottom c-flex">
      <ul class="result__profile">
        <li>[D-O1-O1_MSEL01]・[D-O1-O1_MSEL02]</li>
      </ul>
      <div class="btn result__btn"><a href="/m_search2/?mode=disp&key=[D-O1-ID]">詳細を見る</a></div>
    </div>
  </div>
</div>
