          <div class="card__item">
            <div class="card__img"> <a href="/m_search1/?mode=list&word=MID:[D-M2-MID]"><img src="[D-M2-M2_DFIL01]" alt=""></a>
            </div>
            <div class="card__desc">
              <h3 class="card__ttl"><a href="/m_search1/?mode=list&word=MID:[D-M2-MID]">[D-M2-M2_DVAL01]さん</a></h3>
              <div class="card__btn"><div class="btn--small"><a href="/m_search1/?mode=list&word=MID:[D-M2-MID]">一覧を見る</a></div></div>
            </div>
          </div>
