<div class="card__item">
  <div class="card__img"> <a href="/m_search2/?mode=list&word=MID:[D-M1-MID]"><img src="[D-M1-M1_DFIL01]" alt=""></a> </div>
  <div class="card__desc">
    <h3 class="card__ttl"><a href="/m_search2/?mode=list&word=MID:[D-M1-MID]">[D-M1-M1_DVAL01]</a></h3>
    <div class="card__btn">
      <div class="btn--small"><a href="/m_search2/?mode=list&word=MID:[D-M1-MID]">不動産情報を見る</a></div>
      <div class="btn--small"><a href="/m_chat2_list/?mode=list&word=[D-M1-MID]-[L-MID]&mid1=[D-M1-MID]&mid2=[L-MID]">[S-MIDOKU]<span class="item__badge">未読</span>[E-MIDOKU]メッセージを見る</a></div>
    </div>
  </div>
</div>
