          <div class="card__item">
            <div class="card__img"> <a href="/m_search2/?mode=list&word=MID:[D-M1-MID]"><img src="[D-M1-M1_DFIL01]" alt=""></a>
            </div>
            <div class="card__desc">
              <h3 class="card__ttl"><a href="/m_search2/?mode=list&word=MID:[D-M1-MID]">[D-M1-M1_DVAL01]さん</a></h3>
             <div class="card__btn"><div class="btn--small"><a href="/m_bl2/?mode=delete&mid1=[D-M1-MID]&mid2=[L-MID]">ブラックリストを解除</a></div></div>
            </div>
          </div>
