<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>＆ OWNERS（＆オーナーズ）｜実物資産の共同保有プラットフォーム</title>
  <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-180x180.png">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--template=/common/template/head.html-->
</head>

<body onload="document.getElementById('form1').submit();">


  <div class="wrap sub">

    <form id="form1" method="post" action="[URL]">
      <input type="hidden" name="msg" value="[MSG]">
      <input type="hidden" name="param1" value="[param1]">
      <input type="hidden" name="param2" value="[param2]">
      <input type="hidden" name="param3" value="[param3]">

    </form>

  </div>
</body>

</html>